[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-csp = "*"
django-debug-toolbar = "*"
cfenv = "*"
gunicorn = {version = "*", extras = ["gevent"]}
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
django = "==5.1"
psycopg = "==3.2.3"
pdftotext = "==3.0.0"
selenium = "*"
python-dateutil = "*"
coverage = "*"
pandas = "*"
behave = "*"
pyyaml = "*"

[dev-packages]
wait4it = "*"
django-webtest = "*"
nplusone = "*"
coverage = "*"
flake8 = "*"
black = "*"
bandit = "*"
