<li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
  <div class="usa-card__container">
    <!-- <div class="usa-card__header">
      <h4 class="usa-card__heading">Exdent media</h4>
    </div> -->
    <div class="usa-card__media usa-card__media--exdent">
      <div class="usa-card__img">
        <img
          src="{{ photo.src }}"
          alt="A placeholder image"
        />
      </div>
    </div>
    <div class="usa-card__body">
      <p>
        {{ photo.caption }}
      </p>
    </div>
    <!-- <div class="usa-card__footer">
      <a href="#" class="usa-button">Visit Florida Keys</a>
    </div> -->
  </div>
</li>
