<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <title>{% block title %}{% endblock %} • DARTS</title>
  </head>
  <body>
    <main>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-col">
            {% include "partials/nav.html" %}
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-col">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
