{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<h1>Search ORDA DARTS</h1>

<section id="search" aria-label="Search ORDA DARTS">
  <form action="/search/" method="post" class="usa-search usa-search--big" role="search">
    <label class="usa-sr-only" for="search-field-en-big">Search</label>
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}
    <button class="usa-button" type="submit">
      <span class="usa-search__submit-text">Search</span>
    </button>
  </form>
</section>

<style>
  span.highlight {
    font-weight: bold;
  }
</style>

<section id="search-results" aria-label="Search results">
  {% if searched %}
    <h2>Documents matching <q>{{ query }}</q></h2>

    {% if results|length > 0 %}
      <div class="grid-row grid-gap">
        <div>
          <ul class="usa-collection">
            {% for result in results %}
              {% include "partials/search_result.html" with result=result %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% else %}
      <p>No results for '{{ query }}'.</p>
    {% endif %}

    {% include "partials/pagination.html" %}

  {% endif %}
</section>

{% endblock content %}
